*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Menu */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 32px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 30px;
    color: #333;
    font-weight: bolder;
}

header .logo span {
    color: red;
}

header .navbar a {
    font-size: 20px;
    padding: 0 24px;
    color: #666;
}

header .navbar a:hover {
    color: red;
}

header .icons a {
    font-size: 25px;
    color: #333;
    margin-left: 24px;
}

header .icons a:hover {
    color: red;
}
header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 30px;
    color:#333;
    border-radius: 7px;
    padding: 4px 12px;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,.3);
    display: none;
}

.container {
    margin: 50px auto;
    max-width: 1200px;
    
    padding: 15px;
    display: flex;
}

/* Columns */
.left-column {
    width: 60%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}

/* Left Column */
.left-column img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.left-column img:hover{
    scale: 1.1;
}

/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -1px;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}
/* Size Configuration */
.size-choose {
    margin-bottom: 20px;
}

.size-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
}

.size-choose button:hover,
.size-choose button:focus {
    border: 2px solid #86939E;
    outline: none;
}

.size-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
  
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: red;
  margin-right: 20px;
}
  
.cart-btn {
  display: inline-block;
  background-color: #333;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: red;
}